<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>JoshFX</title>
    <style>
        .card {
            height: 100%;
        }

        .card:hover {
            transform: scale(1.03);
            transition: transform .2s;
        }

        .card-img-top {
            height: 15vw;
            object-fit: cover;
        }

        .card-body {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="container my-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none">
            Chrome is the only browser able to play MKV files. If you are using another browser, a download is
            available.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="row align-items-center">
            <div class="col text-center"></div>
            <div class="col text-center">
                <a href="/">
                    <h1 class="mb-4">JoshFX</h1>
                </a>
            </div>
            <div class="col text-center">
                <a href="https://github.com/JoshCap20/joshfx">
                    <div class="mt-2">Source Code</div>
                </a>
                <a href="https://github.com/JoshCap20/JoshFX_Android_TV">
                    <div class="mt-2">Android/Google/Fire TV App</div>
                </a>
            </div>
        </div>


        <!-- Search form -->
        <form id="search-form" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for a movie..."
                    value="{{ request.GET.q }}">
                <select name="media" class="form-control">
                    <option value="all">All Media</option>
                    <option value="movie">Movies</option>
                    <option value="tv">TV Shows</option>
                </select>
                <select name="type" class="form-control">
                    <option value="all">All Formats</option>
                    <option value="mp4">MP4</option>
                    <option value="mkv">MKV</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <h5>Results</h5>
            </div>
        </div>

        <!-- Movies list -->
        <div id="movies-list" class="row">
        </div>
        <nav class="mt-4">
            <div class="row">
                <div class="col text-center">
                    <button id="prev-btn" class="btn btn-outline-secondary">Previous</button>
                    <button id="next-btn" class="btn btn-outline-secondary">Next</button>
                </div>
            </div>
        </nav>

    </div>
    <script>

        if (!window.chrome) {
            document.querySelector('.alert').style.display = 'block';
        }

        document.querySelector('.alert button').addEventListener('click', function () {
            document.querySelector('.alert').style.display = 'none';
        });

        function setFormValues() {
            const urlParams = new URLSearchParams(window.location.search);
            const q = urlParams.get('q');
            const media = urlParams.get('media');
            const type = urlParams.get('type');
            if (q) {
                document.getElementById('search-form').elements.namedItem("q").value = q;
            }
            if (media) {
                document.getElementById('search-form').elements.namedItem("media").value = media;
            }
            if (type) {
                document.getElementById('search-form').elements.namedItem("type").value = type;
            }
        }

        let currentPage = 1;
        document.addEventListener('DOMContentLoaded', (event) => {
            setFormValues();
            fetchMovies();
        });

        const fetchMovies = () => {
            const form = document.getElementById('search-form');
            const query = form.elements.namedItem("q").value;
            const media = form.elements.namedItem("media").value;
            const type = form.elements.namedItem("type").value;
            const moviesList = document.getElementById("movies-list");
            const spinner = document.createElement('div');
            spinner.className = 'd-flex justify-content-center w-100';
            spinner.innerHTML = `
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>`;
            moviesList.appendChild(spinner);
            fetch(`/search?q=${query}&media=${media}&type=${type}&page=${currentPage}`)
                .then(response => response.json())
                .then(movies => {
                    moviesList.innerHTML = '';
                    movies.forEach(movie => {
                        const movieCard = document.createElement('div');
                        movieCard.className = 'col-md-3 col-sm-4 mb-4';

                        const card = document.createElement('div');
                        card.className = 'card h-100 shadow-sm';
                        const cardImage = document.createElement('img');
                        cardImage.className = 'card-img-top';
                        cardImage.src = movie.image ? movie.image : '/static/placeholder.png';
                        card.appendChild(cardImage);

                        const cardBody = document.createElement('div');
                        cardBody.className = 'card-body d-flex flex-column';

                        let html = `
                <h5 class="card-title m-0 text-truncate"><a href="/stream/${movie.id}">${movie.title}</a></h5>
                <p class="card-subtitle text-muted m-0 text-truncate" style="font-size:10px">${movie.path}</p>
                <p class="card-text m-0 mt-auto">Source ID: ${movie.source}</p>
                <p class="card-text m-0">${movie.type}</p>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-light btn-outline-secondary btn btn-block" href='${movie.link}' download>Download</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary btn-outline-light btn btn-block" href="/stream/${movie.id}">Stream</a>
                    </div>
                </div>
                `;
                        cardBody.innerHTML = html;

                        card.appendChild(cardBody);
                        movieCard.appendChild(card);
                        moviesList.appendChild(movieCard);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };

        if (currentPage == 1) {
            document.getElementById('prev-btn').disabled = true;
        } else {
            document.getElementById('prev-btn').disabled = false;
        }

        document.getElementById('prev-btn').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                fetchMovies();
            }
        });

        document.getElementById('next-btn').addEventListener('click', () => {
            currentPage++;
            fetchMovies();
        });
    </script>
</body>

</html>