<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>JoshFX</title>
    <style>
        .card {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container my-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none">
            Chrome is the only browser able to play MKV files. If you are using another browser, a download is
            available.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="row align-items-center">
            <div class="col text-center"></div>
            <div class="col text-center">
                <a href="/">
                    <h1 class="mb-4">JoshFX</h1>
                </a>
            </div>
            <div class="col text-center">
                <a href="https://github.com/JoshCap20/joshfx">
                    <div class="mt-2">Source Code</div>
                </a>
                <a href="https://github.com/JoshCap20/JoshFX_Android_TV">
                    <div class="mt-2">Android/Google/Fire TV App</div>
                </a>
            </div>
        </div>


        <!-- Search form -->
        <form id="search-form" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search for a movie..." value="{{ request.GET.q }}">
                <select name="media" class="form-control">
                    <option value="all">All Media</option>
                    <option value="movie">Movies</option>
                    <option value="tv">TV Shows</option>
                </select>
                <select name="type" class="form-control">
                    <option value="all">All Formats</option>
                    <option value="mp4">MP4</option>
                    <option value="mkv">MKV</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                {% if not request.GET.q %}
                <div class="alert alert-info" role="alert">
                    <p class="m-0">Since no query, only showing family guy.</p>
                </div>
                {% endif %}
                <h5>Results</h5>
            </div>
        </div>

        <!-- Movies list -->
        <div id="movies-list" class="row">
        </div>
        </div>
        <script>
            if (!window.chrome) {
                document.querySelector('.alert').style.display = 'block';
            }
            // close alert
            document.querySelector('.alert button').addEventListener('click', function () {
                document.querySelector('.alert').style.display = 'none';
            });
            // var type = "{{ request.GET.type }}";
            // if (type) {
            //     document.querySelector(`select[name="type"] option[value="${type}"]`).selected = true;
            // }
            document.addEventListener('DOMContentLoaded', (event) => {
                const form = document.getElementById('search-form');
                const query = form.elements.namedItem("q").value;
                const media = form.elements.namedItem("media").value;
                const type = form.elements.namedItem("type").value;
                const moviesList = document.getElementById("movies-list");
                const spinner = document.createElement('div');
                spinner.className = 'd-flex justify-content-center w-100';
                spinner.innerHTML = `
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>`;
                moviesList.appendChild(spinner);
                fetch(`/search?q=${query}&media=${media}&type=${type}`)
                    .then(response => response.json())
                    .then(movies => {
                        moviesList.innerHTML = '';
                        movies.forEach(movie => {
                            let movieCard = `
                            <div class="col-md-4 col-sm-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                <h5 class="card-title m-0"><a href="/stream/${movie.id}">${movie.title}</a></h5>
                                <p class="card-subtitle text-muted m-0" style="font-size:10px">${movie.path.substr(0, 40)}</p>
                                <p class="card-text m-0">Source ID: ${movie.source}</p>
                                <p class="card-text m-0">${movie.type}</p>`;
                        if (movie.type === 'mkv') {
                            movieCard += `
                        <sub class="card-subtitle text-danger" style="font-size:10px">This movie is in MKV format. It may not play in your browser (Supported: Chrome).</sub>
                        <a class="btn btn-light btn-outline-secondary btn-sm" href='${movie.link}' download>Download</a>`;
                        }
                        movieCard += `</div></div></div >`;

                        moviesList.innerHTML += movieCard;
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>